.select-rect[data-v-0ae179f6]{background:rgba(96,96,255,.1);border:1px solid rgba(96,96,255,.2);box-sizing:border-box;pointer-events:none;position:absolute;-webkit-user-select:none;-moz-user-select:none;user-select:none;z-index:3}
